.container{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 13px;
}


.container:hover, .active{
    transition-duration:0.3s;
    background-color: #2e374a;
}